<div class="row">
  <aside class="span4">
    <section>
      <div class="show_header">
      <h2><%= @user.name %>'s Page</h2><br>
    </div>

    <div class="show">

      <h3>Email:</h3>
      <p><%= @user.email %></p><br>


  <h3>Work by this user </h3>
    <% @posts_by_user.each do |post| %>
      <div class="row">
        <div class="span3 offset1">
          <ul>
            <li><a href="<%=post_path(post)%>"><%=post.title%></a></li>
            <ul>
              <li><%=post.text%></li>
            </ul>
          </ul>
        </div>
      </div>
    <% end %>
        </section>
      </aside>
      </div>

  <h3>Reviews by this user </h3>
    <% @reviews_by_user.each do |review| %>
      <div class="row">
        <div class="span3 offset1">
          <ul>
            <li><a href="<%=review_path(review)%>"><%=review.title%></a></li>
          </ul>
        </div>
      </div>
    <% end %>
        </section>
      </aside>
      </div>

</div>