<%= render :partial => 'layouts/header' %>

<div class="row">
  <aside class="span4">
    <section>
      <div class="show_header">
      <h2><%= @user.name %>'s Page</h2><br>
    </div>

    <div class="show">

      <h3>Email:</h3>
      <p><%= @user.email %></p><br>


<h3>Work by this user </h3>
<%= debug @posts_by_user %>
 <% @posts_by_user.each do |post| %>
   <div class="row">
     <div class="span3 offset1">
      <ul>
      <li><a href="<%=post_path(post)%>"><%=post.title%></a></li>
     </ul>
    </div>
  </div>
<% end %>
    </section>
  </aside>
</div><br>

</div>