<%= render :partial => 'layouts/header' %>

<div class="row">
  <aside class="span4">
    <section>
      <div class="show_header">
      <h2><%= @user.name %>'s Page</h2><br>
    </div>

    <div class="show">

      <h3>Email:</h3>
      <p><%= @user.email %></p><br>

      <div class="reviews_by_user">
      <h3>Reviews by this user: </h3>
      <% @reviews_by_user.each do |review| %>
  <div class="row">
     <div class="span3 offset1">
     	<ul>
     	<li><a href="<%=review_path(review)%>"><%=review.title%></a></li>
     </ul>
    </div>
  </div>
<% end %>
</div>



      <h3>Reviews of this user: </h3>

       <% @reviews_for_user.each do |review| %>
  <div class="row">
     <div class="span3 offset1">
     	<ul>
     	<li><a href="<%=review_path(review)%>"><%=review.title%></a></li>
     </ul>
    </div>
  </div>
<% end %>
    </section>
  </aside>
</div><br>

</div>

<div class="show_button">

<a href="<%= new_review_path(:id => @user.id) %>"class="btn btn-primary btn-lg active" role="button">Review this User</a>

</div>

