<div class="row">
  <aside class="span4">
    <section>
      <div class="show_header">
      <h3><%= @user.name %>'s Page</h3><br>
    </div>

    <div class="show">


<div class = "gravatar"><%= image_tag avatar_url(@user) %></div>

      <h3>Email:</h3>
      <p><%= @user.email %></p><br>

      <h3>ArtHub Score:</h3>
      <h3><%= @user.av_score %> </h3><br>

      <h3>About <%=@user.name%>:</h3>
      <p><%= @user.about_me %></p><br>


  <h3>Work by this user </h3>
    <% @posts_by_user.each do |post| %>
      <div class="row">
        <div class="span3 offset1">
          <ul>
            <li><a href="<%=post_path(post)%>"><%=post.title%></a></li>
            <ul>
              <li><%=post.text%></li>
            </ul>
          </ul>
        </div>
      </div>
    <% end %>
        </section>
      </aside>
      </div>

  <h3>Reviews by this User</h3>
    <% @reviews_by_user.each do |review| %>
      <div class="row">
        <div class="span3 offset1">
          <ul>
            <li><a href="<%=post_path(review.post_id)%>"><%=review.title%></a></li>
          </ul>
        </div>
      </div>
    <% end %>
        </section>
      </aside>
      </div>

</div>