  <div class="post">
  <h3><%= @post.title %>, Score: <%= @post.weight_score %></h3><br>

  <h3><%= image_tag avatar_url(@author) %>  By <%=@author.name%></h3>

     <div class="col-md-3">
      <p class="text-info"><%= @post.text %></p><br>
</div>

<%= render :partial => 'reviews/new', locals: {reviews: @reviews} %>
