<div class="index">

  <h3>Review this Post</h3>

<div class="row">
  <div class="large-12 columns">
    <%= form_for(@review, remote: true) do |f| %>
      <% unless @review.errors.count == 0   %>
        <div class="alert alert-error">
          The form contains <%= pluralize(@review.errors.count, "error") %>.
        </div>
        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      <% end %>

      <div class="small-5">

        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <%= f.label :text %>
      <%= f.text_area :text, :cols => "30", :rows => "25" %>

      <div class="large-6 columns">
        <label>Score This Post</label>
        <input type="radio" name="review[score]" value="1" id="1"><label for="1">1</label>
        <input type="radio" name="review[score]" value="2" id="2"><label for="2">2</label>
        <input type="radio" name="review[score]" value="3" id="3"><label for="3">3</label>
        <input type="radio" name="review[score]" value="4" id="4"><label for="4">4</label>
        <input type="radio" name="review[score]" value="5" id="5"><label for="5">5</label>

      </div>

      <%= f.submit "Review", class: "button" %>
    <% end %>
  </div>
</div>

<%= render :partial => 'reviews/index', locals: {reviews: @reviews} %>


</div>