<%= render :partial => 'layouts/header' %>

<div class="index">

    <!-- just any html form -->

    <head>
      <title>Review This Work</title>
        <link rel='stylesheet' type='text/css' href='stylesheet.css'/>
        <script type='text/javascript' src='script.js'></script>
  </head>
  <body>
        <form>
        Review: <input type="text" name= "message" value="Type your text here!">
        </form>
        <button>Review!</button><br/>
        <div id="messages"></div>
  </body>

  <!-- add my real review form -->

  <h3>Review this Post</h3>

<div class="row">
  <div class="span15 offset3">
    <%= form_for(@review, remote: true) do |f| %>
      <% unless @review.errors.count == 0   %>
        <div class="alert alert-error">
          The form contains <%= pluralize(@review.errors.count, "error") %>.
        </div>
        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      <% end %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :text %>
      <%= f.text_field :text %><br>

      <%= f.label :score %>
      <%= f.text_field :score %><br>

<!-- have to add a hidden value for the post id -->

      <%= f.submit "Review", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


</div>