<%= render :partial => 'layouts/header' %>

<ul class="nav nav-pills">
  <li><%= link_to('New Review', new_review_path) %></li>
  <li><%= link_to('Delete Review', @review, :method => :delete, :confirm => 'Are you sure?') %></li>
</ul>


     <div class="col-md-3">
     <p class="text-info">Review ID: <%=@review.reviewee_id%></p><br>
      <p class="text-info">Review: <%= @review.review_text %></p><br>
      <p class="text-info">Score: <%= @review.score %></p><br>
      <p class="text-info"> Uploaded by: <%=@review.author_id%></p><br>
</div>
