<%= render :partial => 'layouts/header' %>

	<div class="review"
     <div class="col-md-3">
     	 <p class="text-info">Title: <%= @review.title %></p><br>
      <p class="text-info">Review: <%= @review.review_text %></p><br>
      <p class="text-info">Score: <%= @review.score %></p><br>
</div>

<ul class="nav nav-pills">
  <li><%= link_to('Delete Review', @review, :method => :delete, :confirm => 'Are you sure?') %></li>
  <li><%= link_to 'Return to Users', users_path %></li>
</ul>
</div>