<%= render :partial => 'layouts/header' %>

	<div class="review"
     <div class="col-md-3">
     <p class="text-info">Reviewee ID: <%=@review.reviewee_id%></p><br>
      <p class="text-info">Review: <%= @review.review_text %></p><br>
      <p class="text-info">Score: <%= @review.score %></p><br>
      <p class="text-info"> Uploaded by: <%=@review.author_id%></p><br>
</div>

<ul class="nav nav-pills">
  <li><%= link_to('Delete Review', @review, :method => :delete, :confirm => 'Are you sure?') %></li>
</ul>
</div>